<!-- navbar -->
<div class="ng-container">
  <nav
    style="background-color: rgba(0, 0, 0, 0.555)"
    class="navbar navbar-expand-lg"
  >
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img
          src="https://chibi-club-a75f4.web.app/assets/logo.png"
          style="max-width: 50px"
          alt=""
        />CHIBI CLUB</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a
            class="nav-link active"
            style="color: rgba(255, 255, 255, 0.55)"
            aria-current="page"
            href="#"
            >Vision</a
          >
          <a class="nav-link" href="#">Season 1</a>
          <a class="nav-link" href="#">Utility</a>
          <a class="nav-link disabled">Partners</a>
          <a class="nav-link disabled">Team</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- dream3 -->
<div class="ng-container my-0 py-0">
  <!-- <img
    class="dream-img"
    src="http://localhost:2173/assets/hero_section.webp"
    alt=""
  /> -->
  <img
    class="dream-img"
    src="https://chibi-club-a75f4.web.app/assets/hero_section.webp"
    alt=""
  />

  <div class="img-div">
    <span class="img-text"> <h4 style="text-align: center">DREAM3</h4> </span>
  </div>
</div>
<!--  body -->
<div class="ng-container py-0 my-0">
  <div class="row">
    <div class="col-md-6">
      <div class="body_1_text">
        <p>VISION</p>
        <h5>Changing the way content is consumed and distributed..</h5>
        <span
          >I'm a paragraph. Click here to add your own text and edit me. It's
          easy. Just click "Edit Text" or double click me to add your own
          content and make changes to the font. I'm a great place for you to
          tell a story and let your users know a little more about you.
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="body_1_img"
        src="https://chibi-club-a75f4.web.app/assets/section_one.webp"
        alt=""
      />
    </div>
  </div>
  <!-- body 2 -->
  <div class="body_2_text">
    <h2 style="text-align: center">
      <span>
        The PFPs represents YOU as the audience member in the digital <br />
        theater...
      </span>
    </h2>
  </div>
  <div class="row body_2_img_row px-2">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_two_1.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_two_2.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_two_3.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_two_4.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_two_5.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>

    <div class="col-lg-1"></div>
  </div>
  <!-- body3 -->
  <div class="row body_3_text">
    <h1 style="text-align: center">
      <span> FROM SCRIPT TO SCREEN</span>
    </h1>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_1.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_2.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_3.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_4.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_5.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-2">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_three_6.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <h2 class="body_3_text_" style="text-align: center">
      <span>SEASON 1</span>
    </h2>
  </div>
  <!-- body4 -->
  <div class="row">
    <div class="col-lg-6" style="align-self: center">
      <div class="body_4">
        <h4><span>UTILITY</span></h4>
        <p style="color: white">
          I'm a paragraph. Click here to add your own text and edit me. It's
          <br />
          easy. Just click "Edit Text" or double click me to add your own <br />
          content and make changes to the font. I'm a great place for you <br />
          to tell a story and let your users know a little more about you.
        </p>
        <button class="my-3 btn btn-light">Read More →</button>
      </div>
    </div>

    <div class="col-lg-6 x">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_five_1.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <!-- body5 -->
    <div class="col-lg-6 x">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_five_2.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="col-lg-6" style="align-self: center">
      <div class="body_4">
        <h4><span>SCALIBILITY</span></h4>
        <p style="color: white">
          I'm a paragraph. Click here to add your own text and edit me. It's
          <br />
          easy. Just click "Edit Text" or double click me to add your own <br />
          content and make changes to the font. I'm a great place for you <br />
          to tell a story and let your users know a little more about you.
        </p>
        <button class="my-3 btn btn-light">Read More →</button>
      </div>
    </div>
    <!-- body 6 -->
    <div class="col-lg-6" style="align-self: center">
      <div class="body_4">
        <h4><span>DIGITAL RENAISSANCE</span></h4>
        <p style="color: white">
          I'm a paragraph. Click here to add your own text and edit me. It's
          <br />
          easy. Just click "Edit Text" or double click me to add your own <br />
          content and make changes to the font. I'm a great place for you <br />
          to tell a story and let your users know a little more about you.
        </p>
        <button class="my-3 btn btn-light">Read More →</button>
      </div>
    </div>

    <div class="col-lg-6 x">
      <img
        src="https://chibi-club-a75f4.web.app/assets/section_five_3.webp"
        style="width: 100%; object-fit: cover; object-position: 50% 50%"
        alt=""
      />
    </div>
    <div class="row body_6">
      <div class="col-lg-6" style="align-self: center">
        <div class="body_6_content">
          <span>
            <p>LONG TERM GOAL</p>
            <h2>Using NFTs to build the foundation of interactive media.</h2>
            <span style="color: white">
              I'm a paragraph. Click here to add your own <br />
              text and edit me. It's easy. Just click "Edit <br />
              Text" or double click me to add your own <br />

              content and make changes to the font. I'm a <br />
              great place for you to tell a story and let your <br />
              users know a little more about you.
            </span>
            <button class="my-3 btn btn-light">Read More →</button>
          </span>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
<!-- footer -->
<footer style="background-color: black">
  <div class="ng-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="body_7_content">
          <h2>
            <span> INDUSTRY </span>
          </h2>
          <span>
            <p>OUR PARTNERS</p>
          </span>
          <p style="color: white">
            I'm a paragraph. Click here to add your own text and edit me. It's
            <br />
            easy. Just click "Edit Text" or double click me to add your own
            <br />
            content and make changes to the font. I'm a great place for you
            <br />
            to tell a story and let your users know a little more about you.
          </p>
        </div>
      </div>
      <div class="col-lg-6" style="justify-content: center; text-align: center">
        <img
          class="body_7_img"
          src="https://chibi-club-a75f4.web.app/assets/alchemy.webp"
          height="300px"
          width="220px"
          alt=""
        />
        <h2 class="body_7_text" style="color: white">ALCHEMY API</h2>
        <img
          class="py-2"
          src="https://chibi-club-a75f4.web.app/assets/ledger.webp"
          height="220px"
          width="220px"
          alt=""
        />
        <h2 class="body_7_text" style="color: white">LEDGER</h2>
      </div>
      <div class="row body_8">
        <h2 style="text-align: center"><span>TEAM </span></h2>
        <div class="col-lg-3 px-3 py-3">
          <img
            src="https://chibi-club-a75f4.web.app/assets/team_1.webp"
            style="border-radius: 50%"
            alt=""
            height="auto"
            width="100%"
          />
          <h1 class="body_8_text" style="text-align: center">
            <span> White Claw Outlaw </span> <br />
            <img
              height="40px"
              width="40px"
              src="https://chibi-club-a75f4.web.app/assets/linkedin.webp"
              alt=""
            />

            <p
              style="
                color: white;
                padding-top: 8px;
                font-weight: 300;
                font-size: 13px;
              "
            >
              Co-Founder <br />
              Operations & Management <br />
              Editor & Producer
            </p>
          </h1>
        </div>
        <div class="col-lg-3 px-3 py-3">
          <img
            src="https://chibi-club-a75f4.web.app/assets/team_2.webp"
            style="border-radius: 50%"
            alt=""
            height="auto"
            width="100%"
          />
          <h1 class="body_8_text" style="text-align: center">
            <span> White Claw Outlaw </span> <br />
            <img
              height="40px"
              width="40px"
              src="https://chibi-club-a75f4.web.app/assets/linkedin.webp"
              alt=""
            />

            <p
              style="
                color: white;
                padding-top: 8px;
                font-weight: 300;
                font-size: 13px;
              "
            >
              Co-Founder <br />
              Operations & Management <br />
              Editor & Producer
            </p>
          </h1>
        </div>
        <div class="col-lg-3 px-3 py-3">
          <img
            src="https://chibi-club-a75f4.web.app/assets/team_3.webp"
            style="border-radius: 50%"
            alt=""
            height="auto"
            width="100%"
          />
          <h1 class="body_8_text" style="text-align: center">
            <span> White Claw Outlaw </span> <br />
            <img
              height="40px"
              width="40px"
              src="https://chibi-club-a75f4.web.app/assets/linkedin.webp"
              alt=""
            />

            <p
              style="
                color: white;
                padding-top: 8px;
                font-weight: 300;
                font-size: 13px;
              "
            >
              Co-Founder <br />
              Operations & Management <br />
              Editor & Producer
            </p>
          </h1>
        </div>
        <div class="col-lg-3 px-2 py-3">
          <img
            src="https://chibi-club-a75f4.web.app/assets/team_4.webp"
            style="border-radius: 50%"
            alt=""
            height="auto"
            width="100%"
          />
          <h1 class="body_8_text" style="text-align: center">
            <span> White Claw Outlaw </span> <br />
            <img
              height="40px"
              width="40px"
              src="https://chibi-club-a75f4.web.app/assets/linkedin.webp"
              alt=""
            />

            <p
              style="
                color: white;
                padding-top: 8px;
                font-weight: 300;
                font-size: 13px;
              "
            >
              Co-Founder <br />
              Operations & Management <br />
              Editor & Producer
            </p>
          </h1>
        </div>
      </div>
      <!-- body9 -->
      <!-- <div class="row body_9">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 ss">
          <div class="body_9_content">
            <h3 style="color: white">GET ON THE LIST</h3>
            <input
              type="text"
              style="width: 280px; border-radius: 5px; height: 40px"
              placeholder=" Email Address*"
            />
          </div>
        </div>
        <div class="col-lg-3 ss">
          <div class="body_9_image">
            <img
              src="http://localhost:2173/assets/logo.png"
              width="100px"
              height="100px"
              alt=""
            />
          </div>
        </div>
      </div> -->

      <!--  -->
      <!-- <div class="ng-container s">
        <div class="body_9_content ss">
          <h3 style="color: white">GET ON THE LIST</h3>
          <input
            type="text"
            style="width: 280px; border-radius: 5px; height: 40px"
            placeholder=" Email Address*"
          />
        </div>
        <div class="body_9_content ss mm">
          <img
            src="http://localhost:1871/assets/logo.png"
            width="100px"
            height="100px"
            alt=""
          />
          <h3 style="color: white">CHIBI CLUB</h3>
        </div>
        <div class="ss m">
          <i style="color: white" class="bi px-2 fa-2x bi-instagram"></i>
          <i style="color: white" class="bi px-2 fa-2x bi-twitter"></i>
          <i style="color: white" class="bi fa-2x bi-discord"></i>
          <p style="color: white; font-size: 13px; margin-bottom: 0px">
            2022 ©️ Reality Tunnel LLC
          </p>
          <a style="padding: 0px" href="">Terms and Condition</a>
        </div>
      </div> -->

      <!--  -->
    </div>
    <div class="container extra">
      <div class="row">
        <div class="col-lg-4">
          <h4 style="color: white; font-size: 20px">GET ON THE LIST</h4>
          <input
            class="imputs"
            type="text"
            style="width: 280px; border-radius: 5px; height: 40px"
            placeholder=" Enter Address"
          />
        </div>
        <div style="text-align: center" class="col-lg-4">
          <img
            src="https://chibi-club-a75f4.web.app/assets/logo.png"
            width="30%"
            alt=""
          />
          <h6 style="color: white; font-size: 1.25rem">Chibi Club</h6>
        </div>
        <div style="text-align: right" class="col-lg-4">
          <div style="text-align: right; padding-right: 15px">
            <i style="color: white" class="bi px-2 fa-2x bi-instagram"></i>
            <i style="color: white" class="bi px-2 fa-2x bi-twitter"></i>
            <i style="color: white" class="bi fa-2x bi-discord"></i>
          </div>
          <p style="color: white; font-size: 13px; margin-bottom: 0px">
            2022 ©️ Reality Tunnel LLC
          </p>
          <a style="padding: 0px" href="">Terms and Condition</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="scroll">
    <img
      class="imgg"
      src="https://chibi-club-a75f4.web.app/assets/scroll_top.svg"
      alt=""
      height="80px"
      width="100px"
    />
    <div class="box_number">
      <span style="color: white" id="scrollPercentLabelSpan" class="sp">0</span>
    </div>
  </div> -->
  <div class="testing">
    <img
      class="imggs"
      src="https://chibi-club-a75f4.web.app/assets/scroll_top.svg"
      alt=""
      height="80px"
      width="100px"
    />
    <div class="testing2">
      <span style="color: white" id="scrollPercentLabelSpan">0</span>
    </div>
  </div>
</footer>
<!-- scroll bar  -->
